/* Subtopics.css */
.subtopic-box {
  background-color: #d3d3d3; /* Light grey background */
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px; /* Add some space between the boxes */
  opacity: 0; /* Start with opacity 0 */
  transform: scale(0.9);
  transition: opacity 1s ease, transform 1s ease; /* Transition for fade-in and scale */
}

.visible {
  opacity: 1;
  transform: scale(1);
}

.new-cont {
  align-items: center;
}
